.city-list {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
  }
  
  .city-list h2 {
    margin-bottom: 15px;
  }
  
  .city-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .city-list li {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
  
  .city-list a {
    text-decoration: none;
    color: #ded4d4;
    padding: 10px 15px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  } 
  
  /* .city-list a:hover {
    background-color: #f0f0f0;
  } */
  
  button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
    background: linear-gradient(145deg, #2e2d2d, #212121);
   
  }
  button::before{
    position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  background-size: 25% 100%;
  animation: background;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}


  button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  button:active .active {
    background-color: #31d31b;
    box-shadow: 0px 15px 20px rgba(5, 13, 6, 0.4);
    color: #fff;
    transition: 100ms;
    animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
  }
  
@keyframes  background {
  to {
    transform: translateX(-25%);
  }
}