<app-calendar-navbar></app-calendar-navbar>


   <div class="card">
    <div class="card-body">
       <h5 class="card-title">{{ theatreName }}</h5>
       <!-- <p class="card-text"><span class="badge bg-primary">{{ rating }}</span></p> -->
       <p-knob [(ngModel)]="ratingPercentageBy100 " valueTemplate="{value}%"></p-knob>
       <button class="btn btn-primary " (click)="bookTickets()" *ngFor="let date of dates">
         {{ date | date:'shortTime' }}</button>
       
    </div>
   </div>

  <p-paginator [rows]="cardsPerPage" [totalRecords]="totalCards" (onPageChange)="onPageChange($event)"></p-paginator>
  
